configuration {
	modes: [ combi ];
	combi-modes: [ window, drun, run ];
}

window {
	background-color: rgb(230, 231, 228);
}

element.normal.normal {
	background-color: rgb(230, 231, 228);
}

element.alternate.normal {
	background-color: rgb(191, 192, 186);
}

element.selected.normal {
	background-color: rgb(15, 13, 14);
}
